/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* HEADER */
/* header {
    background-color: aqua;
    padding: 10px 0;
} */



/* .rectangle_header {
    background-color: lightcoral;
    justify-content: space-between;
    padding: 10px;
} */



/* PADDING SECTION */
/* section {
    padding: 30px 0;
} */

/* JUMBOTRON/RETTANGOLO ROSA */
/* .jumbotron {
    background-color: blue;
}

.rectangle_pink {
    width: 900px;
    height: 300px;
    background-color: pink;
    margin: auto;
} */

/* SECTION BACKGROUND WHITE */
/* .background_white {
    background-color: white;
}

.rectangle_red {
    width: 60%;
    height: 400px;
    background-color: red;
}

.rectangle_purple {
    width: 40%;
    height: 400px;
    background-color: purple;
} */

/* SECTION BACKGROUND GREY */
/* .background_grey {
    background-color: gray;
}

#reverse {
    flex-direction: row-reverse;
} */

/* SECTION GREY/RECTANGLE GREEN */
/* .rectangle_green {
    height: 600px;
    width: 100%;
    background-color: green;
}

footer {
    background-color: black;
} */

/* FOOTER FIRST SECTION */
/* .background_footer {
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.rectangle_orange {
    height: 500px;
    background-color: orange;
    flex-grow: 2;
}

.rectangle_yellow {
    height: 500px;
    background-color: yellow;
    border: 1px solid rebeccapurple;
    flex-grow: 1;
} */

/* FOOTER SECOND SECTION */
/* .rectangle_footer_second {
    padding-top: 20px;
    padding-bottom: 0;
}

.rectangle_footer {
    height: 50px;
    background-color: aliceblue;
    justify-content: space-between;
    align-content: center;
} */

/* ********************************************************************** */

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.blue {
    background-color: #255EE9;
}

.violet {
    background-color: violet;
}

.yellow {
    background-color: yellowgreen;
}

.pink {
    background-color: palevioletred;
}

.orange {
    background-color: orange;
}

.azure {
    background-color: aqua;
}

.red {
    background-color: red;
}

.h-80 {
    height: 80px;
}

.h-120 {
    height: 120px;
}

.h-200 {
    height: 200px;
}

.w-100 {
    width: 100%;
}

.flex-row {
    display: flex;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.padding10-0 {
    padding: 10px 0;
}

.padding30-0 {
    padding: 30px 0;
}

.padding20-0 {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-50 {
    width: 50%;
    margin: auto;
}

.container-60 {
    width: 60%;
    margin: auto;
}

.basis-25 {
    flex-basis: 25%;
}

.basis-40 {
    flex-basis: 40%;
}

.basis-60 {
    flex-basis: 60%;
}

.basis1-3 {
    flex-basis: calc(100% / 3);
}

.basis2-3 {
    flex-basis: calc((100% / 3) * 2);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    padding: 0 15px;
    color: white;
}

.logo {
    height: 35px;
}

button {
    padding: 10px;
    border-radius: 15x;
    border: none;
    cursor: pointer;
    background-color: white;
}

/* upper header */
h1 {
    font-size: 65px;
    padding-bottom: 25px;
}

h2 {
    font-size: 50px;
    padding-bottom: 20px;
    margin-top: 40px;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
}

h5 {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 40px;
    color: #6C82CF;
}

p {
    font-size: 20px;
    margin-top: 10px;
}


.p-jumbotron {
    width: 850px;
    height: 100px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
}

.button-left {
    background-color: white;
    padding: 17px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 400;
}

.button-right {
    background-color: black;
    color: white;
    margin-left: 10px;
    padding: 17px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 400;
}

.bottom-section {
    background-color: #8EA1E1;
    color: white;
    margin-left: 10px;
    padding: 17px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
}

i {
    padding-right: 10px;
    
}

.star {
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
}

.text-ita {
    display: inline-block;
    color: white;
}


.icons {
    display: flex;
    color: white;
}

.padding-right15 { 
    padding-right: 15px;
}

#img-ita {
    width: 20px;
}

ul {
    list-style-type: none;
}

.color-title {
    color: #6C82CF;
}

li {
    padding-top: 10px;
    color: #fff;
    font-size: 1.1rem;
}

/* header */
header {
    background-color: #255EE9;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

nav > * {
    flex-basis: 20%;    
    padding: 10px 0;
}

.nav-menu {
    flex-grow: 1;
    text-align: center;
}

.nav-login {
    flex-basis: 15%;
    min-height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* lower header */
.lower-header {
    width: 100%;
    min-height: 600px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    width: 100%;
    min-height: 600px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 60px;
}

.download {
    padding-top: 15px;
    font-size: 1.1rem;
}

/* main */
.box-top-bottom {
    width: 100%;
    min-height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.box-center {
    width: 100%;
    min-height: 600px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-left {
    flex-basis: 38%;
    min-height: 400px;
    margin-right: 20px;
}

.card-right {
    flex-basis: 19%;
    min-height: 500px;
    margin-top: 45px;
    margin-left: 20px;
}

.card-center-left {
    flex-basis: 24%;
    min-height: 500px;
    
}

.card-center-right {
    flex-basis: 38%;
    min-height: 500px;
    
}

.large-box {
    width: 100%;
    min-height: 1100px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-card {
    flex-basis: 100%;
    min-height: 980px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-large {
    width: 1100px;
}

/* .upper-footer */
.container-footer {
    width: 100%;
    min-height: 300px;
    padding-top: 10px;
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.upper-footer {
    min-height: 500px; 
    padding-top: 10px;    
    background-color: #23272A;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.col {
    padding-top: 20px;
}

.cols {
    min-height: 430px;
    padding-top: 70px;
    flex-basis: 13%;
}

/* lower footer */
.lower-footer {
    width: 100%;
    min-height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-nav {
    flex-basis: 62%;
    min-height: 60px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-nav {
    flex-basis: 8%;
    min-height: 30px;
    background-color: red;
    border: 2px dashed black;
    ;
}